[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/incredible-squaring-avs"]
	path = lib/incredible-squaring-avs
	url = https://github.com/Layr-Labs/incredible-squaring-avs
